/* Estilos para el menú */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el logo */
.Logo {
    text-align: center;
    padding: 20px;
}

img {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
}